<nav>
  <a routerLink="/">Authorization</a>
  <br>
  <a routerLink="/registration">Registration</a>
  <br>
  <a routerLink="/">Profile</a>
  <br>
  <a routerLink="/results">Results</a>
</nav>

<router-outlet></router-outlet>
