<h1>registration</h1>

<form [formGroup]="form" (ngSubmit)="submit()" novalidate>
    <input type="text" name="login" placeholder="email" formControlName="email">
    <br>
    <input type="text" name="username" placeholder="username" formControlName="username">
    <br>    
    <input type="password" name="password1" placeholder="password" formControlName="password1">
    <br>
    <input type="password" name="password2" placeholder="password confirm" formControlName="password2">
    <br>
    <button type="submit()">Submit</button>
</form>